/* Basic */

*{
	margin: 0em;
	padding: 0em;
	}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	}

body{
	font-family: "trebuchet ms", sans-serif;
	font-size: 10pt;
	background-color: #000000;
	color: #6F5129;
	}

a{
	color: #667700;
	text-decoration: underline;
	}

a:hover{
	text-decoration: none;
	}

/* Outer */

#outer{
	width: 778px;
	margin: 2em auto;
	}

/* Header */

#header{
	margin: 0em 20%;
	padding: 1.75em;
	text-align: center;
	position: relative;
	z-index: 2;
	}

#header h1{
	font-size: 2em;
	}

#header h2{
	font-size: 1em;
	color: #747474;
	}

#header h1 a{
	color: #fff;
	text-decoration: none;
	}

/* Menu */

#menu	{
	background: #000000 url('images/a1.jpg') top center no-repeat;
	height: 94px;
	width: 90%;
	}

#menu ul	{
	list-style: none;
	text-align: center;
	position: relative;
	top: 45px;
	}

#menu li{
	padding: 0em 1.5em 0em 1.5em;
	display: inline;
	}

#menu li a{
	color: #3A2000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	}

#menu li a:hover{
	text-decoration: underline;
	}

/* Content */

#xbg1{
	position: absolute;
	z-index: 1;
	background: #000000 url('images/a2.jpg') top center no-repeat;
	width: 90%;
	height: 98px;
	}

#content{
	background: #000000 url('images/a3.jpg') top center repeat-y;
	width: 90%;
	}

#content p{
	margin-bottom: 2em;
	line-height: 1.5em;
	}

#content h2,h3,h4,h5,h6{
	position: relative;
	color: #3F2109;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DFBF99;
	}

#content h2{
	font-size: 1.5em;
	}

#content h3{
	font-size: 1.1em;
	}

#content ul{
	list-style-type: none;
	margin-bottom: 2em;
	}

#content blockquote{
	margin-bottom: 2em;
	}

#content blockquote p{
	border-left: solid 8px #667700;
	padding-left: 1em;
	margin-bottom: 0em;
	}

#content table{
	margin-bottom: 2em;
	}

#content th{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
	}

#content td{
	padding: 0.5em;
	}

#content tr:nth-child(even){
	background-color: #DFBD99;
	color: inherit;
	}

#content tr:nth-child(odd){
	background-color: #EFDCC2;
	color: inherit;
	}

/* Primary Content */

#primaryContentContainer{
	position: relative;
	z-index: 2;
	margin: auto;
	width: 750px;
	}
	
.text{
	font-size: medium;
	padding: 4px 10em;
}

.text .button{
	margin-left: 40%;
	margin-right: 40%;
}

#text{
	position: relative;
	width: 30em;
	height: 5em;
}

#404{
	background: transparent url('images/burn.gif') top center no-repeat;
	position: relative;
	margin: auto;
	width: 30em;
}

#primaryContent{
	margin: 2em 3.0em 0em 0em;
	padding: 0em 0em 0em 1.5em;
	border-left: solid 1px #DFBF99;
	width: 34em;
	float: right;
	}
	

/* Secondary Content */

#secondaryContent{
	position: relative;
	z-index: 2;
	float: left;
	width: 15em;
	margin-top: 2em;
	padding-left: 1em;
	}
	
.scrap:nth-child(even){
	position: relative;
	z-index: 1;
	background: transparent url('images/scrap2.png') top center no-repeat;
	text-align: center;
	width: 200px;
	height: 48px;
}

.scrap:nth-child(odd){
	position: relative;
	z-index: 1;
	background: transparent url('images/scrap1.png') top center no-repeat;
	text-align: center;
	width: 200px;
	height: 48px;
}

.scrap a{
	vertical-align: -70%;
}

/* Messages */

.error_msg {
    background: red url('images/scrap1.png') top center no-repeat;
    border: 1px solid black;
    z-index:3;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
	width: 40em;
	height: 20em;
}
.success_msg {
    background: blue url('images/scrap1.png') top center no-repeat;
    border: 1px solid black;
    z-index:3;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
	width: 200px;
	height: 48px;
}

/* Footer */

#footer{
	width: 90%;
	height: 56px;
	padding-top: 30px;
	background: #000000 url('images/a4.jpg') top center no-repeat;
	text-align: center;
	}

.clear{
	clear: both;
	}