{% extends "base.html" %}
{% block content %}
<div id="primaryContentContainer">
    <div id="primaryContent">
        <h2> Create a new note. </h2>
        <form method="post" action="/create/">
        {% csrf_token %}
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <input class="button" type="submit" value="Create Note">
        </form>
    </div>
</div>
<div id="secondaryContent">
    <h3> Notes </h3>
    {% if notes_list %}
        <ol id="notes">
            {% for Note in notes_list %}
                <li><a href="{{ Note.get_absolute_url }}">{{ Note.title }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No Notes Stored</p>
    {% endif %}
</div>
<script>
    var create_note = function() {
        var title = $("#title").val()
        if (title != "") {
            var data = {title:title};
            var args = { type:"POST", url:"/create/", data:data, complete:done };
            $.ajax(args);
        }
        else {
            //Todo: display explanation of failure
        }
        return false;
    };
    
    var done = function(res, status){
        if (status == "success") {
            var txt = res.responseText;
            var titleStr = txt.match(/id="title" value="\w+"/ig)[0];
            var title = titleStr.match(/"\w+"/ig)[1].replace(/"/g,'');
            var newLi = $('<li><a href="{{ Note.get_absolute_url }}">'+title+'</a></li>');
            $("#notes").prepend(newLi);
            $("#title").val("");
        }
        else {
            //Todo: display explanation of failure
        }
    };
    
    $("#create").click(create_note);
</script>
{% endblock %}